@inject UiState Ui

<h1>Пользователи</h1>

<label>Сортировка:</label>
<InputRadioGroup @bind-Value="SortOrder">
    <label>
        <InputRadio Value="CourseOrder.NewFirst" class="radio-input"/> 
        <label class="radio-label">Сначала новые</label>
    </label>
    <label>
        <InputRadio Value="CourseOrder.OldFirst" class="radio-input"/> 
        <label class="radio-label">Сначала старые</label>
    </label>
    <label>
        <InputRadio Value="CourseOrder.AZName" class="radio-input"/> 
         <label class="radio-label">По названию: А → Я</label>
    </label>
    <label>
        <InputRadio Value="CourseOrder.ZAName" class="radio-input"/>
         <label class="radio-label"> По названию: Я → А</label>
    </label>
</InputRadioGroup>
@code {
    // Enum для сортировки
    public enum CourseOrder
    {
        NewFirst,
        OldFirst,
        AZName,
        ZAName
    }

    // Свойство для биндa
    private CourseOrder SortOrder
    {
        get
        {
            if (Ui.CurrentState.Parameters.TryGetValue("order", out var value) && value is CourseOrder order)
                return order;
            return CourseOrder.NewFirst;
        }
        set => Ui.SetParam("order", value);
    }


}


<!-- Чекбоксы категорий -->
<label>Категории:</label>
@foreach (var category in CourseCategories)
{
    <div>
        <input type="checkbox" class="checkbox-input"
               checked="@IsCategorySelected(category)"
               @onchange="(e) => ToggleCategory(category, e.Value)"/>
        <label class="checkbox-label">@category</label>
        
    </div>
}
@code {
    // Пример категорий
    private string[] CourseCategories = new[] { "Test check 1", "Test check 2", "Test check 3", "Test check 4" };

    // Проверка, выбран ли чекбокс
    private bool IsCategorySelected(string category)
    {
        if (Ui.CurrentState.Parameters.TryGetValue("categories", out var obj) && obj is HashSet<string> set)
        {
            return set.Contains(category);
        }
        return false;
    }

    // Переключение чекбокса
    private void ToggleCategory(string category, object? isCheckedObj)
    {
        var isChecked = isCheckedObj as bool? ?? false;

        if (!Ui.CurrentState.Parameters.TryGetValue("categories", out var obj) || obj is not HashSet<string> set)
        {
            set = new HashSet<string>();
        }

        if (isChecked)
            set.Add(category);
        else
            set.Remove(category);

        Ui.SetParam("categories", set);
    }
}

 <AuthorizeView>
        <Authorized>
            @if (context.User.IsInRole("Admin"))
            {
                @foreach (var entity in new[]
               {
                    EntityType.Positions,
                    EntityType.Applicants,
                   
                })
                {
                    var info = EntityNavDefinitions.EntityNavMap[entity];

                    <div class="nav-link" style="@info.Style" @onclick="() => Select(entity)" >
                        <span class="square-icon @info.IconClass"></span>
                        <span class="nav-text">@info.Title</span>
                    </div>

                }
            }
        </Authorized>
</AuthorizeView>

@code {
    void Select(EntityType entity)
    {
        Ui.SelectEntity(entity);
        //NavigationManager.NavigateTo($"/{entity.ToString().ToLower()}");
    }
}