@using DeLavantTechnologies.Data
@using Microsoft.AspNetCore.Authorization
@layout AuthLayout
@rendermode InteractiveServer
@inject ICourseService CourseService
@inject NavigationManager Navigation
@inject UiState Ui
@implements IEntityListPage



@attribute [Authorize(Roles = "Admin")]


@if (courses.Count == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in courses)
            {
                <tr>
                    <td>@course.Title</td>
                    <td>@course.Description</td>
                    <td>
                        <button class="btn btn-danger btn-sm" @onclick="@(() => DeleteCourse(course.Id))">Удалить</button>
                        <button class="btn btn-primary btn-sm" @onclick="@(() => ViewCourse(course.Id))">Просмотр</button>
                        <button class="btn btn-secondary btn-sm" @onclick="@(() => EditCourse(course.Id))">Редактировать</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    
}
<button class="btn btn-success" @onclick="CreateCourse">Создать курс</button>


<h3>Текущий поиск</h3>
<p>@Search</p>

<h3>Параметры фильтров</h3>
@if (Parameters != null && Parameters.Count > 0)
{
    <ul>
        @foreach (var kvp in Parameters)
        {
            <li>
                @kvp.Key :
                @if (kvp.Value is IEnumerable<string> list)
                {
                    @string.Join(", ", list)
                }
                else
                {
                    @kvp.Value
                }
            </li>
        }
    </ul>
}
else
{
    <p>Нет параметров</p>
}


@code {
     private List<Course> courses = new List<Course>();


    protected override void OnInitialized()
    {
        Ui.SelectEntity(EntityType.Courses);
        Ui.SetMode(PageMode.List);
    }

    protected override async Task OnInitializedAsync()
    {
        var result = await CourseService.GetAllCoursesAsync();
        if (result is not null)
            courses = result;
    }

    [Parameter] public string Search { get; set; } = "";
    [Parameter] public Dictionary<string, object> Parameters { get; set; } = new();

   IEnumerable<Course> FilteredCourses
    {
        get
        {
            IEnumerable<Course> query = courses;

            /* ===== ПОИСК ===== */
            var search = Ui.CurrentState.Search;
            if (!string.IsNullOrWhiteSpace(search))
            {
                query = query.Where(c =>
                    c.Title.Contains(search, StringComparison.OrdinalIgnoreCase));
            }

            /* ===== СОРТИРОВКА ===== */
            if (Ui.CurrentState.Parameters.TryGetValue("order", out var orderObj)
                && orderObj is CourseOrder order)
            {
                query = order switch
                 {
                    CourseOrder.CreatedAtNew =>query.OrderBy(c=> c.CreatedAt),
                    CourseOrder.CreatedAtOld =>query.OrderByDescending(c=> c.CreatedAt),
                    CourseOrder.UpdateToNew => query.OrderBy(c=>c.LastUpdatedAt),
                    CourseOrder.UpdateToOld => query.OrderByDescending(c=>c.LastUpdatedAt),
                    CourseOrder.AZName => query.OrderBy(c=>c.Title),
                    CourseOrder.ZAName => query.OrderByDescending(c=>c.Title),
                    _ => query
                };
            }

            return query;
        }
    }
   

    private void ViewCourse(string id)
    {
        Navigation.NavigateTo($"/course/{id}");
    }

    private void EditCourse(string id)
    {
        Navigation.NavigateTo($"/course/edit/{id}");
    }

    private void CreateCourse()
    {
        Navigation.NavigateTo("/course/edit");
    }

    private async Task DeleteCourse(string id)
    {
        await CourseService.DeleteCourseAsync(id);
        courses = await CourseService.GetAllCoursesAsync();
    }
}
 