@using DeLavantTechnologies.Data
@using Microsoft.AspNetCore.Authorization
@layout AuthLayout
@rendermode InteractiveServer
@inject ICourseService CourseService
@inject NavigationManager Navigation
@inject UiState Ui
@implements IEntityListPage
@attribute [Authorize(Roles = "Admin")]

@if (courses.Count == 0)
{
    <p><em>Курсов нет...</em></p>
}
else
{

    <div class="record-sheet">


        @foreach (var course in FilteredCourses)
        {
            <div class="record-sheet-recording">

                <button class="circle-button primary-red x-circle-fill-icon @(deletePending.ContainsKey(course.Id) ? "pulse" : "")"
                @onclick="() => ToggleDelete(course.Id)"></button>



                <div class="record-sheet-recording-content"  @onclick="@(() => EditCourse(course.Id))">
                    <div class="short-info">

                        @if (IsCreatedDateOrder)
                        {
                            <div class="centered-element">
                                Создан
                                <div class="accent-gray">
                                    <span>
                                        @ToMoscowTime(course.CreatedAt).ToString("dd.MM HH:mm")
                                    </span>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="centered-element">
                                Изменён
                                <div class="accent-gray">
                                    <span>
                                        @ToMoscowTime(course.LastUpdatedAt).ToString("dd.MM HH:mm")
                                    </span>
                                </div>
                            </div>
                        }



                        <div class="centered-element">
                            Доступ
                            <div class="accent-red">
                                <span>
                                    @(course.AccessType switch
                                    {
                                        "Common" => "Общедоступный",
                                        "Individual" => "Персональный",
                                        "Group" => "Групповой",
                                        "Ones" => "Соискателям",
                                        _ => ""
                                    })
                                </span>

                            </div>
                            <div class="accent-gray">
                                <span>@(course.IsHidden ? "скрыт" : "открыт")</span>
                            </div>
                        </div>
                    </div>

                    <div class="text-block">
                        @course.Title
                    </div>
                </div>

                <button class="circle-button secondary-gray arrow-right-circle-fill-icon"   @onclick="@(() => EditCourse(course.Id))"></button>

            </div>
        }

    </div>
}   

@code {

    private CourseOrder CurrentOrder =>
    Ui.CurrentState.Parameters.TryGetValue("order", out var value) && value is CourseOrder order
        ? order
        : CourseOrder.AZName;

    private bool IsCreatedDateOrder =>
        CurrentOrder is CourseOrder.CreatedAtNew or CourseOrder.CreatedAtOld;

    private bool IsUpdatedDateOrder =>
        CurrentOrder is CourseOrder.UpdateToNew or CourseOrder.UpdateToOld;

    private static DateTime ToMoscowTime(DateTime utcDate)
    {
        var moscowTimeZone = TimeZoneInfo.FindSystemTimeZoneById(
            OperatingSystem.IsWindows() ? "Russian Standard Time" : "Europe/Moscow"
        );

        return TimeZoneInfo.ConvertTimeFromUtc(
            DateTime.SpecifyKind(utcDate, DateTimeKind.Utc),
            moscowTimeZone
        );
    }

    private Dictionary<string, CancellationTokenSource> deletePending = new();

    private void ToggleDelete(string courseId)
    {
        if (deletePending.ContainsKey(courseId))
        {
            // Отмена удаления
            deletePending[courseId].Cancel();
            deletePending.Remove(courseId);
            StateHasChanged();
            return;
        }

        // Запускаем "подтверждение удаления"
        var cts = new CancellationTokenSource();
        deletePending[courseId] = cts;
        StateHasChanged();

        _ = DeleteWithDelay(courseId, cts.Token);
    }

    private async Task DeleteWithDelay(string courseId, CancellationToken token)
    {
        try
        {
            await Task.Delay(5000, token);
            await DeleteCourse(courseId);
        }
        catch (TaskCanceledException)
        {
            // Пользователь отменил
        }
        finally
        {
            if (deletePending.ContainsKey(courseId))
            {
                deletePending.Remove(courseId);
                StateHasChanged();
            }
        }
    }
}

@code {
    private List<Course> courses = new List<Course>();


    protected override void OnInitialized()
    {
        Ui.SelectEntity(EntityType.Courses);
        Ui.SetMode(PageMode.List);
    }

    protected override async Task OnInitializedAsync()
    {
        var result = await CourseService.GetAllCoursesAsync();
        if (result is not null)
            courses = result;
    }

    [Parameter] public string Search { get; set; } = "";
    [Parameter] public Dictionary<string, object> Parameters { get; set; } = new();

    IEnumerable<Course> FilteredCourses
    {
        get
        {
            IEnumerable<Course> query = courses;

            // Поиск
            var search = Ui.CurrentState.Search;
            if (!string.IsNullOrWhiteSpace(search))
                query = query.Where(c => c.Title.Contains(search, StringComparison.OrdinalIgnoreCase));

            // Фильтр по категориям
            if (Ui.CurrentState.Parameters.TryGetValue("categories", out var obj) && obj is HashSet<string> cats && cats.Count > 0)
            {
                query = query.Where(c => cats.Contains(c.AccessType));
            }
            // Фильтр по скрытым
            // Фильтр по скрытым
            var showHidden =
                Ui.CurrentState.Parameters.TryGetValue("showHidden", out var hiddenObj)
                && hiddenObj is bool b && b;

            if (showHidden)
            {
                // показываем ТОЛЬКО скрытые
                query = query.Where(c => c.IsHidden);
            }
            else
            {
                // по умолчанию показываем ТОЛЬКО доступные
                query = query.Where(c => !c.IsHidden);
            }


            // Сортировка
            if (Ui.CurrentState.Parameters.TryGetValue("order", out var orderObj) && orderObj is CourseOrder order)
            {
                query = order switch
                {
                    CourseOrder.AZName => query.OrderBy(c => c.Title),
                    CourseOrder.ZAName => query.OrderByDescending(c => c.Title),
                    CourseOrder.CreatedAtNew => query.OrderByDescending(c => c.CreatedAt),
                    CourseOrder.CreatedAtOld => query.OrderBy(c => c.CreatedAt),
                    CourseOrder.UpdateToNew => query.OrderByDescending(c => c.LastUpdatedAt),
                    CourseOrder.UpdateToOld => query.OrderBy(c => c.LastUpdatedAt),
                    _ => query
                };
            }

            return query;
        }
    }

   

    @* private void ViewCourse(string id)
    {
        Navigation.NavigateTo($"/courses/{id}");
    } *@

    private void EditCourse(string id)
    {
        Navigation.NavigateTo($"/courses/edit/{id}");
    }


    private async Task DeleteCourse(string id)
    {
        await CourseService.DeleteCourseAsync(id);
        courses = await CourseService.GetAllCoursesAsync();
    }
}
 