@page "/"
@using Microsoft.AspNetCore.Components.Web
@rendermode InteractiveServer
<PageTitle>Домашняя страница</PageTitle>

<h1>Домашняя страница</h1>

<div>
	<input value="@item" @onchange="@((ChangeEventArgs e) => item = e.Value.ToString())" />
	<p>value: @item</p>
</div>


<div >
	<input @bind="@item2" @bind:event="oninput"/>
	<p>@item2</p>
</div>


<Main @bind-Search="text" />
<p><button @onclick="Clear">Clear</button></p>

<ul>
    @foreach (var item in Found)
    {
        <li>@item</li>
    }
</ul>

@code {
    private string text = "";

    // условная база данных
    private List<string> database = new() { "C#", "C++", "JavaScript", "Java", "Python" };

    // найденные элементы динамически фильтруются
    private List<string> Found => string.IsNullOrWhiteSpace(text) ? 
    database :
        database.Where(name => name.Contains(text, StringComparison.OrdinalIgnoreCase))
        .ToList();

    private void Clear() => text = "";

    [Parameter]
    public EventCallback<string> SearchChanged { get; set; }


}

@code{
	string @item = "hello";
	string @item2 = "hello";


}